@font-face {
  font-display: swap;
  font-family: "Adobe Clean Serif";
  font-style: italic;
  font-weight: bold;
  src: url("fonts/subset-AdobeCleanSerif-BoldIt.eot");
  src: local("Adobe Clean Serif Bold Italic"), local("AdobeCleanSerif-BoldIt"),
    url("fonts/subset-AdobeCleanSerif-BoldIt.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/subset-AdobeCleanSerif-BoldIt.woff2") format("woff2"),
    url("fonts/subset-AdobeCleanSerif-BoldIt.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Adobe Clean";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/subset-AdobeClean-Light.eot");
  src: local("Adobe Clean Light"), local("AdobeClean-Light"),
    url("fonts/subset-AdobeClean-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/subset-AdobeClean-Light.woff2") format("woff2"),
    url("fonts/subset-AdobeClean-Light.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Adobe Clean Serif";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/subset-AdobeCleanSerif-Bold.eot");
  src: local("Adobe Clean Serif Bold"), local("AdobeCleanSerif-Bold"),
    url("fonts/subset-AdobeCleanSerif-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/subset-AdobeCleanSerif-Bold.woff2") format("woff2"),
    url("fonts/subset-AdobeCleanSerif-Bold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Adobe Clean";
  font-style: italic;
  font-weight: 300;
  src: url("fonts/subset-AdobeClean-LightIt.eot");
  src: local("Adobe Clean Light Italic"), local("AdobeClean-LightIt"),
    url("fonts/subset-AdobeClean-LightIt.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/subset-AdobeClean-LightIt.woff2") format("woff2"),
    url("fonts/subset-AdobeClean-LightIt.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Adobe Clean Serif";
  font-style: italic;
  font-weight: normal;
  src: url("fonts/subset-AdobeCleanSerif-It.eot");
  src: local("Adobe Clean Serif Italic"), local("AdobeCleanSerif-It"),
    url("fonts/subset-AdobeCleanSerif-It.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/subset-AdobeCleanSerif-It.woff2") format("woff2"),
    url("fonts/subset-AdobeCleanSerif-It.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Adobe Clean";
  font-style: normal;
  font-weight: 900;
  src: url("fonts/subset-AdobeClean-Black.eot");
  src: local("Adobe Clean Black"), local("AdobeClean-Black"),
    url("fonts/subset-AdobeClean-Black.eot?#iefix") format("embedded-opentype"),
    url("fonts/subset-AdobeClean-Black.woff2") format("woff2"),
    url("fonts/subset-AdobeClean-Black.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Adobe Clean Serif";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/subset-AdobeCleanSerif-Regular.eot");
  src: local("Adobe Clean Serif"), local("AdobeCleanSerif-Regular"),
    url("fonts/subset-AdobeCleanSerif-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/subset-AdobeCleanSerif-Regular.woff2") format("woff2"),
    url("fonts/subset-AdobeCleanSerif-Regular.woff") format("woff");
}
